.login-form {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-flow: column nowrap;
  margin: 0 auto 10px auto;
  width: 50%;
}
label {
  font-size: 16px;
}
input {
  width: 100%;
  padding: 8px 20px;
  margin: 10px 0px;
  display: inline-block;
  border: 1px solid rgb(109, 109, 109);
  border-radius: 4px;
}
input[type='text'],
[type='password'] {
  font-size: 18px;
}

.login-btn {
  align-self: center;
  width: 80px;
}
@media only screen and (max-width: 600px) {
  .login-form {
    margin: 0;
    width: 100%;
  }
}
